@model CompaniesViewModel

<div class="container row p-0 m-0">

    <div class="col-12">
        <form enctype="multipart/form-data" asp-controller="Companies" asp-action="Import" method="post" class="mt-3">
            <div class="form-group row">
                <div class="col-sm-12">
                    <input multiple asp-for="Files" class="form-control custom-file-input" />
                    <label style="cursor:pointer;" class="custom-file-label">Choose files...</label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-6">
                    <button disabled="@(Model.Files is null)" type="submit" class="btn btn-info text-white import-button" style="width:100%">Import</button>
                </div>

                @if (Model.Companies.Count > 0)
                {
                    <div class="col-6">
                        <button asp-action="Export" asp-route-sorterName="@Model.CurrentSorter" class="btn btn-info text-white" style="width:100%">Export to CSV</button>
                    </div>
                }

            </div>

            @section Scripts {
            <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function() {
                        var fileLabel = $(this).next('.custom-file-label');
                        var importButton = $('.import-button');
                        var files = $(this)[0].files;
                        if(files.length > 1) {
                            fileLabel.html(files.length + ' files selected');
                            importButton.removeAttr("disabled");
                        }
                        else if (files.length == 1) {
                            fileLabel.html(files[0].name);
                            importButton.removeAttr("disabled");
                        }
                    });
                });
            </script>
            }

        </form>
    </div>
</div>

<br />

@if (Model.Companies.Count > 0)
{

    <div>

        <div class="container row p-0 m-0">
            <div class="col-4">
                <a asp-action="Sort" asp-route-sorterName="CompanyNameSorter" class="btn btn-info form-control text-white">Sort by company name</a>
            </div>
            <div class="col-4">
                <a asp-action="Sort" asp-route-sorterName="ContactNameSorter" class="btn btn-info form-control text-white">Sort by contact name</a>
            </div>
            <div class="col-4">
                <a asp-action="Sort" asp-route-sorterName="YearsAndNameSorter" class="btn btn-info form-control text-white">Sort by years in business and company name</a>
            </div>
        </div>

        <br />

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameForInnerType((Company c) => c.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameForInnerType((Company c) => c.YearsInBusiness)
                    </th>
                    <th>
                        @Html.DisplayNameForInnerType((Company c) => c.ContactName)
                    </th>
                    <th>
                        @Html.DisplayNameForInnerType((Company c) => c.ContactPhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameForInnerType((Company c) => c.ContactEmail)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var company in Model.Companies)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => company.CompanyName)
                        </td>
                        <td>
                            @if (company.YearsInBusiness >= 0)
                                @Html.DisplayFor(modelItem => company.YearsInBusiness)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => company.ContactName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => company.ContactPhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => company.ContactEmail)
                            </td>
                        </tr>
                }
            </tbody>
        </table>

    </div>
}
else
{
    <div>
        <div class="container row p-0 m-0">
            <div class="col-12">
                <h3>There are no companies in the database. Add data by importing companies files.</h3>
            </div>
        </div>
    </div>

}


